In [1]:
  #Dictionreis
  #Dictiomries are allows yo to store key,values pairs.
  #The also known as, Maps,Hashtables,Associate Arrays

In [5]:
d = {"tom": 43490495,"rob":439879474,"joe":7759347497}
d["tom"]

43490495

In [6]:
d["joe"]

7759347497

In [7]:
d["sam"]=7453544353
d

{'tom': 43490495, 'rob': 439879474, 'joe': 7759347497, 'sam': 7453544353}

In [9]:
del d["sam"]

In [15]:
d

{'tom': 43490495, 'rob': 439879474, 'joe': 7759347497}

In [16]:
for key in d:
    print("key :",key,"value :",d[key])

key : tom value : 43490495
key : rob value : 439879474
key : joe value : 7759347497

In [18]:
for k,v in d.items():
    print("key :",key,"value :",v)

key : joe value : 43490495
key : joe value : 439879474
key : joe value : 7759347497

In [19]:
"tom" in d

True

In [20]:
"sam" in d

False

In [23]:
d.clear()

In [24]:
d

{}

In [26]:
#Tuple
#Tuple is a list of values groupped together
point = (5,9)#x-y-Cordinates
point[0]

5

In [27]:
point[1]

9

In [28]:
#List:All values have similar meaning(Homogeneous)
#Tuple:All values have different meaning(Hetrogenous)

In [29]:
#List example
expense_list = [300,400,500]#every item is an expense
list_ofnames = ["bob","Tom","partha"]#Every item is a name of person
point=(4,6)#4 is x-cordinate 5 is y-cordinate
addres=("1 purple street","new york",100001)

In [30]:
#Tuples are immutable
point[0]=50
point

TypeError: 'tuple' object does not support item assignment